{% extends "SingventoryApp/user/base.html" %}
{% load static %}


{% block content %}

    <div class="container col-md-8 row mx-auto">
      <h4 class="mb-5">User Profile</h4>

      <img
        src="{{ user.image.url }}"
        class="rounded-circle col-md-3"
        style="width: 150px"
        alt="Avatar"
      />
      <div class="col-md-3 pt-4">
        <h5>{{ user.name }}</h5>
        <p>{{ user.email }}</p>
      </div>
      <div class="col-md-3 ms-auto pt-5">
        <a href="{% url 'userprofileedit' %}"
          ><i class="fa-sharp fa-solid fa-user-pen linkc"></i
        ></a>
      </div>
      <h5 class="mt-5">Borrowed Equipment</h5>
      {% if borrowed %}
      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th class="greenc" scope="col">Equipment</th>
            <th class="greenc" scope="col">Quantity</th>
            <th class="greenc" scope="col">Status</th>
            <th class="greenc" scope="col">Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for borrowe in borrowed %} 

          <tr>
            <!-- <th scope="row">1</th> -->
            <td>{{ borrowe.equipment }}</td>
            <td>{{ borrowe.quantity }}</td>
            <td>{{ borrowe.status }}</td>
            <td>{{ borrowe.date }}</td>
            {% if borrowe.status == 'Possession' %}
            <td>
              {% if borrowe.quantity == 1 %}
                <a class="iconsa" href="{% url 'return' borrowe.pk %}">
                  Return
                </a>
              {% else %}
                <a class="iconsa" href="{% url 'returnPage' borrowe.pk %}">
                  Return
                </a>
              {% endif %}
            </td>
            {% elif borrowe.status == 'Pending' %}
            <td>
              <a class="iconsared" href="{% url 'cancel' borrowe.pk %}">
                Cancel
              </a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>
        You have not borrowed anything.
        <a href="{% url 'userhome' %}" class="linkc">Browse Equipment</a> to
        borrow.
      </p>
      {% endif %}
    </div>
    <div class="footer bg-dark w-200 text-light p-4 mt-5">
      <div class="container">
        <div class="row">
          <!--Footer About-->
          <div class="col-md-6 col-lg-3">
            <div class="footer-about">
              <h6>About Us</h6>
              <p style="font-size: 80%">
                The purpose of the singventory system is to make borrowing more
                convenient and easy for everyone!
              </p>
              <div class="footer-social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
    
          <!--Contact Us-->
          <div class="col-md-6 col-lg-3">
            <div class="footer-contact">
              <h6>Get In Touch</h6>
              <p style="font-size: 80%">
                <i class="fa fa-map-marker-alt"></i>&nbsp; &nbsp; &nbsp;Gyalpozhing,
                Mongar, Bhutan
              </p>
              <p style="font-size: 80%">
                <i class="fa fa-phone-alt"></i>&nbsp; &nbsp;+975 17722345
              </p>
              <p style="font-size: 80%">
                <i class="fa fa-envelope"></i>&nbsp; &nbsp;tdema5133@gmail.com
              </p>
            </div>
          </div>
    
          <!--Footer Link-->
          <div class="col-md-6 col-lg-3">
            <div class="footer-links">
              <h6>Useful Links</h6>
              <a href="https://www.gcit.edu.bt/" style="font-size: 80%"
                >Gyalpoizhing College</a
              ><br />
              <a href="https://www.rub.edu.bt/" style="font-size: 80%"
                >Royal University Of Bhutan
              </a>
            </div>
          </div>
    
          <!--project Image-->
          <div class="col-md-6 col-lg-3">
            <div class="footer-project">
              <img
                src="{% static 'SingventoryApp/images/Logo-footer-removebg-preview.png' %}"
                style="
                  width: 200px;
                  height: 160px;
                  margin-top: 0px;
                  margin-left: 10px;
                  color: white;
                "
              />
              <!--<img src={% static 'SingventoryApp/images/Logo-footer-removebg-preview.png' %} -->
            </div>
          </div>
        </div>
      </div>
    
      <!-- Newswletter -->
      <div class="copyright">
        <div class="container">
          <div class="row align-items-center">
            <!--Copy Right-->
    
            <!--Footer Menu-->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->
{% endblock content %}
    